@model List<ResultProductDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>####</th>
            <th>Name</th>
            <th>Stock</th>        
            <th>Category</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.StockCount</td>
                <td>@item.CategoryId</td>
                <td>@item.Price</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Del</a>
                    <a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-primary">Update</a>
                </td>
                <td></td>
            </tr>
        }

    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">NEW</a>
</div>
